footer {
    position: absolute;
    font-size: 22px;
    bottom: 0;
    left: 0;
    transform: translate(calc(50vw - 50%), -50%);
    color: white;
  }
  
  footer a {
    color: white;
  }
  
  #main {
    margin: 80px 80px 0 80px;
  }
  
  @media only screen and (max-width: 600px) {
    #main {
      margin: 20px 20px 0 20px;
    }
  }
  
  p {
    font-size: 22px;
  }
  
  label {
    font-size: 22px;
    font-weight: bold;
    display: block;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  canvas {
   position: absolute;
   bottom: 0;
   pointer-events: none;
   width: 100%;
   height: 50vh;
  }