/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.body {
  background-image: url("https://github.com/4GeeksAcademy/Authentication-system-with-Python-Flask-and-React.js-sicr2000/blob/main/src/front/img/IMG_3703.png?raw=true");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px 115px;
  font-family: "Konkhmer Sleokchher", cursive;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #1366ff 29%,
    #00ff40 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
